html, body {
    height: 100%;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;  
    background-color: lavenderblush;
    }
        
        

        header {
    background: #24516B;
    padding: 2rem;


        }
        
    main {
    overflow: auto;
    padding-bottom: 100px;
        }
        
        h1
            {
            color: darkcyan;
            font-weight: bolder;
            font-family: 'Lora', serif;
            border-width: 1px;
            border-style: dotted;
            border-color: burlywood;
        }
        
        
        h2 {
            color:darkcyan;
            font-weight:bolder;
            font-family: Apple Chancery,cursive;
        }
   

nav {
    position: relative; 
    color: lightpink;
    background-color: black;
    font-weight: bolder;
    font-family: cursive, sans-serif;
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.5em;
    height: 70px;
    padding-top: 35px;
    
        }
        
nav a:hover {
  text-decoration: underline;
  font-family: cursive, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: hotpink; 
}

nav a:visited{
    color: ghostwhite;
}


#nav.active{
  color: pink;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
    /* Footer height */
}
   footer { 
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    text-align: center;
    background: #24516B;      
}

img {
    border:1px solid;
    border-color: blue;

}
    .responsive{
  max-width: 100%;
  height: auto;
}

.column {
float: left;
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}

container {
    min-height: 100%
    
}

main {
    overflow: auto;
    padding-bottom: 
    
}

div#help-list {
    background-color: antiquewhite;
    width: 60%
}
