html, body {
    height: 100%;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;  
    background-color: #ffc4ee ;
    }
        
        

        header {
    background: #24516B;
    padding: 2rem;


        }
        
    main {
    overflow: auto;
    padding-bottom: 100px;
        }
        
        h1
            {
            color: darkcyan;
            font-weight: bolder;
            font-family: 'Lora', serif;
            border-width: 3px;
            border-style: groove;
            border-color: lightskyblue;
            animation-name: flipInX;
            animation-duration: 4s;
        }
        
        
        h2 {
            color:darkcyan;
            font-weight:bolder;
            font-family: Apple Chancery,cursive;
             margin:35px;
        }
h3{ margin:35px;}

h4{
     margin:35px;
}
p {
    margin:35px;
    font-family: 'Raleway', sans-serif;
    
}
   
ul li{
    font-family: 'Raleway', sans-serif;
}


nav {
    position: relative; 
    background-color: black;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.5em;
    height: 70px;
    padding-top: 35px;
    padding-right: 10PX;
    
        }
        
nav a:hover {
  text-decoration: underline;
  font-family: 'Satisfy', cursive;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: lightpink; 
}



#page-container {
  position: relative;
  min-height: 100vh;
}
   

img {
    border:3px solid;
    border-color: black;

}
    .responsive{
  max-width: 100%;
  height: auto;
}

.column {
float: left;
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}

container {
    min-height: 100%
    
}

main {
    overflow: auto;
    padding-bottom: 
    
}

div#help-list {
    background-color: antiquewhite;
    width: 60%
}

footer { 
    color: white;
    text-align: center;
    background: #24516B;      
}