      body {
    font-family:sans-serif;
    margin: 0rem;
    background-color: blanchedalmond
        }
        
        main {
    margin: 2rem;
        }
        
        header {
    background: #24516B;
    padding: 2rem;
        }
        
                
        body
        {
        
        width:80%
        margin: 25px 50px;
        }
        
        h1
            {
            color: darkcyan;
            font-weight: bolder;
            font-family: cursive;
            
        }
        
        
        h2 {
            color:darkcyan;
            font-weight:bolder;
            font-family: Apple Chancery,cursive;
        }
        
        nav a {
    color: floralwhite;
    background-color: darkgray;
    font-weight: bolder;
    text-transform: uppercase;
        }
        
    footer { 
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #24516B;
    padding: 2rem;
            }

img {
    border:1px solid;
    border-color: blue;

}

div#help-list {
    background-color: orange;
    width: 60%
}